.wp-block-mbs-blob-container-block {
	mask-image: url("../_shared/blobs/blob-2.svg");
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	aspect-ratio: 400 / 324; /* match your SVG */
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
	position: relative;

	.blob-inner {
		position: absolute;
		inset: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		& > * {
			position: absolute;
			inset: 0;
		}

		& > img {
			object-fit: cover;
		}
	}
}
