.wp-block-mbs-blob-container-block {
	display: block;
	aspect-ratio: 400 / 324; /* match your SVG */

	&__clip {
		clip-path: url("../_shared/blobs/blob-2.svg");
		overflow: hidden;
	}

	&__blob-inner {
		padding: var(--blob-padding);
		position: absolute;
		inset: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		& > * {
			position: absolute;
			inset: 0;
		}

		& > img {
			object-fit: cover;
		}
	}
}
