@use "sass:list";
@use "../abstracts/variables" as v;

@function transition($properties...) {
	$new-list: ();

	@each $property in $properties {
		$new-list: list.append(
			$new-list,
			#{$property} var(--wp--custom--transition--standard),
			comma
		);
	}

	@return $new-list;
}
