$transition-standard: 0.15s ease-in-out;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: cormorant, serif;
$font-body: mulish, "Helvetica Neue", "Noto Sans", "Liberation Sans", arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-serif: adobe-garamond-pro, serif;
