$transition-standard: 0.15s ease-in-out;

/* ////////////
// COLORS
///////////// */

$primary: rgb(61 28 17);
$secondary: rgb(140 101 72);
$custom-colors: (
	"primary-light": rgb(116 60 24),
	"secondary-light": rgb(210 189 182),
	"gray": rgb(90 88 92),
	"black": black,
	"white": white,
);

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: cormorant, serif;
$font-body: mulish, "Helvetica Neue", "Noto Sans", "Liberation Sans", arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
$font-serif: adobe-garamond-pro, serif;
