@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as fn;

.wp-block-button {
	&__link {
		border: 2px solid var(--wp--preset--color--primary);
		transition: fn.transition(
			color,
			background-color,
			box-shadow,
			translate
		);

		@include m.interaction {
			color: var(--wp--preset--color--primary);
			background-color: white;
			box-shadow: var(--btn-hover-box-shadow);
			translate: var(--btn-hover-translate-x) var(--btn-hover-translate-y);
		}
	}

	&.is-style-outline &__link {
		color: var(--wp--preset--color--primary);

		@include m.interaction {
			box-shadow: var(--btn-hover-box-shadow);
			translate: var(--btn-hover-translate-x) var(--btn-hover-translate-y);
		}
	}
}
