@use "sass:color";
@use "../../../styles/abstracts/variables" as v;

/* Button styles */
.wp-block-mbs-interest-form .btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 1.25rem;
	cursor: pointer;

	&.btn-primary {
		background-color: var(--button-background-color, v.$primary);
		border-color: var(--button-border-color, v.$primary);
		color: var(--button-color, white);
	}
}
