@use "sass:color";
@use "../../../styles/abstracts/variables" as v;

/* Button styles */
.btn {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 1.25rem;
	cursor: pointer;

	&.btn-primary {
		background-color: v.$primary;
		border-color: v.$primary;
		color: white;
	}
}
