.wpcf7 * {
	color: white;
}

.wpcf7 input,
.wpcf7 select {
	color: var(--color-primary);
	border-radius: 10px;
	border: 2px solid var(--color-primary);
}

.wpcf7 input.wpcf7-submit {
	border: 2px solid var(--color-primary);
	border-radius: 100em;
	color: white;
	background-color: var(--color-primary);
	font-size: 1em;
	text-transform: unset;
	padding: 0.575em 0.85em;
	line-height: initial;
}

.wpcf7 input.wpcf7-submit:hover {
	background-color: white;
	transform: translateY(-4px);
	box-shadow: 2px 4px 10px 2px rgb(0 0 0 / 35%);
	transition: all 0.2s ease;
	color: var(--color-primary);
}

.wpcf7-response-output {
	color: var(--color-primary);
	border-left: 5px solid var(--color-primary);
	background-color: white;
	font-size: 1.6rem;
}

.wpcf7 label {
	color: var(--color-primary);
}
