.wpcf7 {
	* {
		color: white;
	}

	label {
		color: var(--wp--preset--color--primary);
	}

	input,
	select {
		color: var(--wp--preset--color--primary);
		border-radius: 10px;
		border: 2px solid var(--wp--preset--color--primary);
	}

	input.wpcf7-submit {
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 100em;
		color: white;
		background-color: var(--wp--preset--color--primary);
		font-size: 1em;
		text-transform: unset;
		padding: 0.575em 0.85em;
		line-height: initial;

		&:hover {
			background-color: white;
			transform: translateY(-4px);
			box-shadow: 2px 4px 10px 2px rgb(0 0 0 / 35%);
			transition: all 0.2s ease;
			color: var(--wp--preset--color--primary);
		}
	}
}

.wpcf7-response-output {
	color: var(--wp--preset--color--primary);
	border-left: 5px solid var(--wp--preset--color--primary);
	background-color: white;
	font-size: 1.6rem;
}
