@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as fn;

.wpcf7 {
	* {
		color: white;
	}

	label {
		color: var(--wp--preset--color--primary);
	}

	input,
	select {
		color: var(--wp--preset--color--primary);
		border-radius: 10px;
		border: 2px solid var(--wp--preset--color--primary);
	}

	input.wpcf7-submit {
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 50rem;
		color: white;
		background-color: var(--wp--preset--color--primary);
		font-size: var(--wp--preset--font-size--root);
		text-transform: unset;
		padding: var(--wp--preset--spacing--base) var(--wp--preset--spacing--lg);
		line-height: initial;
		transition: fn.transition(
			color,
			background-color,
			box-shadow,
			translate
		);

		@include m.interaction {
			background-color: white;
			box-shadow: var(--btn-hover-box-shadow);
			translate: var(--btn-hover-translate-x) var(--btn-hover-translate-y);
			transition: var(--wp--custom--transition--standard);
			color: var(--wp--preset--color--primary);
		}
	}
}

.wpcf7-response-output {
	color: var(--wp--preset--color--primary);
	border-left: 5px solid var(--wp--preset--color--primary);
	background-color: white;
	font-size: var(--wp--preset--font-size--root);
}
