<!-- wp:template-part {"slug":"header","theme":"macros-by-sara"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|none","padding":{"bottom":"var:preset|spacing|xl"}}},"layout":{"type":"constrained"}} -->
<main
	class="wp-block-group"
	style="
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: var( --wp--preset--spacing--xl );
	"
>
	<!-- wp:group {"tagName":"section","metadata":{"name":"Header"},"align":"full","className":"position-relative z-2","style":{"spacing":{"padding":{"top":"var:preset|spacing|xl","bottom":"6rem"},"margin":{"bottom":"-50px"}}},"backgroundColor":"secondary-light","layout":{"type":"constrained"}} -->
	<section
		class="wp-block-group alignfull position-relative z-2 has-secondary-light-background-color has-background"
		style="
			margin-bottom: -50px;
			padding-top: var( --wp--preset--spacing--xl );
			padding-bottom: 6rem;
		"
	>
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Tips, Tricks &amp; More</p>
		<!-- /wp:paragraph -->

		<!-- wp:heading {"textAlign":"center","level":1} -->
		<h1 class="wp-block-heading has-text-align-center">
			What I've Written
		</h1>
		<!-- /wp:heading -->

		<!-- wp:search {"label":"","showLabel":false,"placeholder":"Find what you need","buttonText":"Search","style":{"border":{"radius":"20px"}},"backgroundColor":"primary"} /-->

		<!-- wp:query-title {"type":"search","level":2,"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"md","fontFamily":"body"} /-->
	</section>
	<!-- /wp:group -->

	<!-- wp:query {"queryId":52,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[],"format":[]},"tagName":"section","enhancedPagination":true,"align":"wide","className":"position-relative z-3","layout":{"type":"default"}} -->
	<section class="wp-block-query alignwide position-relative z-3">
		<!-- wp:post-template {"align":"wide","className":"align-items-stretch","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"grid","columnCount":null,"minimumColumnWidth":"26rem"}} -->
		<!-- wp:group {"metadata":{"name":"Card"},"className":"h-100 overflow-hidden","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"},"border":{"radius":"10px","width":"2px"},"elements":{"link":{"color":{"text":"var:preset|color|primary"},":hover":{"color":{"text":"var:preset|color|primary-light"}}}}},"backgroundColor":"white","borderColor":"contrast","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
		<div
			class="wp-block-group h-100 overflow-hidden has-border-color has-contrast-border-color has-white-background-color has-background has-link-color"
			style="
				border-width: 2px;
				border-radius: 10px;
				padding-top: 0;
				padding-right: 0;
				padding-bottom: 0;
				padding-left: 0;
			"
		>
			<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"1","width":"","height":"","sizeSlug":"full","style":{"border":{"radius":"0px"},"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->

			<!-- wp:group {"metadata":{"name":"Card Body"},"className":"flex-grow-1 flex-shrink-1","style":{"spacing":{"padding":{"top":"var:preset|spacing|base","bottom":"var:preset|spacing|base","left":"var:preset|spacing|base","right":"var:preset|spacing|base"}}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap","justifyContent":"left"}} -->
			<div
				class="wp-block-group flex-grow-1 flex-shrink-1"
				style="
					padding-top: var( --wp--preset--spacing--base );
					padding-right: var( --wp--preset--spacing--base );
					padding-bottom: var( --wp--preset--spacing--base );
					padding-left: var( --wp--preset--spacing--base );
				"
			>
				<!-- wp:post-date {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xs","bottom":"var:preset|spacing|xs","left":"var:preset|spacing|base","right":"var:preset|spacing|base"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"border":{"radius":"5px"}},"backgroundColor":"primary","textColor":"white","fontSize":"root"} /-->

				<!-- wp:post-title {"level":3,"isLink":true,"fontSize":"lg"} /-->

				<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":30,"className":"flex-grow-1","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"fontSize":"root"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"align":"center","className":"gap-3 mt-5","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"},":hover":{"color":{"text":"var:preset|color|secondary"}}}}},"fontSize":"sm","layout":{"type":"flex","justifyContent":"center"}} -->
		<!-- wp:query-pagination-previous /-->

		<!-- wp:query-pagination-numbers /-->

		<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</section>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"macros-by-sara"} /-->
