name: Deploy to SiteGround
on:
    push:
        branches: [stg, main]

jobs:
    deploy-prod:
        name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        uses: ./.github/workflows/ssh-test.yml
        with:
            REMOTE: # Remote folder to deploy to
        secrets: inherit

    deploy-stg:
        name: Deploy to Staging
        if: github.ref == 'refs/heads/stg'
        uses: ./.github/workflows/ssh-test.yml
        with:
            REMOTE: staging6.macrosbysara.com
            flags: "-azvr --delete"
        secrets: inherit
