.h-100 {
	height: 100% !important;
}

.w-100 {
	width: 100% !important;
}

.flex-grow-1 {
	flex-grow: 1 !important;
}

.flex-shrink-1 {
	flex-shrink: 1 !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.align-items-stretch {
	align-items: stretch !important;
}

.mt-auto {
	margin-top: auto !important;
}
