@use "../abstracts/fluid-type-utils" as fluid-type;

:root {
	@include fluid-type.generate-type-scale;
	@include fluid-type.generate-type-scale(
		perfect-fourth,
		"fs-display",
		fluid-type.$display-steps,
		0
	);
}

body {
	text-wrap: pretty;
	word-break: normal;
}

// HEADINGS

$headings: (
	1: "xxxl",
	2: "xxl",
	3: "xl",
	4: "lg",
	5: "md",
	6: "sm",
);

/**
* Reset Headings and utils to use WP sizes instead of bootstrap's
*/
@each $heading, $slug in $headings {
	h#{$heading},
	.h#{$heading} {
		text-wrap: balance;
		font-size: var(--wp--preset--font-size--#{$slug});
	}
	.fs-#{$heading} {
		font-size: var(--wp--preset--font-size--#{$slug}) !important;
	}
}

/**
* Reset Display Font Sizes to use clamp instead of Bootstrap's RFS
*/
@each $step in fluid-type.$display-steps {
	.display-#{$step} {
		font-size: var(--fs-display-#{$step}) !important;
	}
}

small,
.small {
	font-size: var(--font-size-sm);
}

[class*="fs-"] > p {
	font-size: inherit;
}

a {
	transition: color var(--transition-standard);
}
