/* stylelint-disable selector-class-pattern */

.highlight--color-primary {
	color: var(--color-primary);
}

.highlight--color-secondary {
	color: var(--color-secondary);
}

.highlight--color-secondary--light {
	color: var(--color-secondary--light);
}
